.user-list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px;
}

.user-search {
    max-width: 400px;
    margin: 0 auto 16px auto;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ededed;
    border-radius: 6px;
    padding: 12px;
    font-size: 16px;
}